<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="mqHost" value="localhost" />
      <add key="mqPort" value="5672" />
      <add key="mqUser" value="test" />
      <add key="mqPass" value="Pass1234" />
      <add key="mqVhost" value="/" />
    </appSettings>
</configuration>