################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinancialChat.Tests/bin/Debug
/FinancialChat/bin
/FinancialChat/obj
/FinancialChat.Tests/obj
/packages
/.vs/FinancialChat/v15/Server/sqlite3
/.vs/FinancialChat/v15/.suo
/ChatBot/obj/Debug
/FinancialChat.Utils/bin/Debug
/FinancialChat.Utils/obj/Debug
/.vs/FinancialChat/DesignTimeBuild
/.vs/FinancialChat/v16
/FinancialChat.ChatBotStarter/obj/Debug
/FinancialChat.Database/bin/Debug
/FinancialChat.Database/obj/Debug
/FinancialChat.Database/Import Schema Logs
